
    
    @import url('https://fonts.googleapis.com/css2?family=BIZ+UDMincho&family=BIZ+UDPMincho&family=Mukta&family=Noto+Sans+SC&family=Noto+Serif+TC:wght@200&family=Oswald:wght@300&family=Road+Rage&display=swap');

    text1 {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        background-color: rgb(116, 0, 224);
        border-radius: 3px;
        padding: 10px;
    }

    body {
        background-color: aquamarine;
        color: rgba(245, 0, 233, 0.863);
        font-family: 'Press Start 2P', cursive;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .storyText {
        text-indent: 10%;
    }

    .center-right-outlined {
font-size: 39px;
color: blueviolet;
    }

    .start-over-outlined {
        font-family: 'Start Over Outlined';
        font-style: normal;
        display: inline-block;


    }

    button{
        font-size: 1em;
        background-color: chartreuse;
        padding: .5em;
        border: 2.2em;
        border-radius: .3em;
        line-height: 23px;
        border-top-right-radius: 12px 213px;
    }

    .buttonPadding {
        width: 3%;
        padding: .6em;
    }

    button:hover{
        transition: 1s;
        cursor: pointer;
        background-color: chocolate;
    }
  
    .row {
         display: flex;
         flex-direction: row;
     }

     .row1 {
         display: flex;
         flex-direction: row;
         background-color: beige;
         border-radius: .68em;
     }

     section {
         display: block;
     }

     .story {
         width: 55;
         text-align: justify;
     }