
    
    @import url('https://fonts.googleapis.com/css2?family=BIZ+UDMincho&family=BIZ+UDPMincho&family=Mukta&family=Noto+Sans+SC&family=Noto+Serif+TC:wght@200&family=Oswald:wght@300&family=Road+Rage&display=swap');

    text1 {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        background-color: rgb(116, 0, 224);
        border-radius: 3px;
        padding: 10px;
    }

    body {
        background-color: aquamarine;
        color: rgba(245, 0, 233, 0.863);
        font-family: 'Press Start 2P', cursive;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .storyText {
        text-indent: 20%;
    }

    button{
        font-size: 1em;
        background-color: chartreuse;
        padding: .5em;
        border: 2.2em;
        border-radius: .3em;
        line-height: 23px;
        border-top-right-radius: 12px 213px;
        border-radius: 5px;
        padding: 24px;
        margin: auto;
        display: block;
        cursor: pointer;
    }

    .buttonPadding {
        width: 3%;
        padding: .6em;
    }

    button:hover{
        transition: 1s;
        cursor: pointer;
        background-color: chocolate;
    }
  
    .row {
         display: flex;
         flex-direction: row;
     }

     .row1 {
         display: flex;
         flex-direction: row;
         background-color: beige;
         border-radius: .68em;
     }

     section {
         display: block;
     }

     .story {
         width: 55;
         text-align: justify;
     }

     #playArea {
         font-size: 42px ;
     }

     #credits-title-main {
         display:flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
     }

.center_right {
    display: flex;
    justify-content: center;
    padding-left: 12px;
}

.center_right button {
    background-color: transparent;
    border: none;
}

.center_right span {
    font-size: small;
    color: azure;
}

#buttonArea {
    display: flex;
    margin-top: 50px;
}

span.material-symbols-outlined {
    font-size: 70px;
}

.center_right span:hover {
    animation: refreshRotate 1s ease-in-out infinite;
    color:rgba(245, 0, 233, 0.863);
    }

    @keyframes refreshRotate{
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }